.lato-font{
    font-family: "LATO", sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    display: inline;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6{
    letter-spacing: 0.1em;
}

p{
    letter-spacing: 0.05em;
}