<nav class="navbar navbar-expand-lg py-0">
    <div class="container border-bottom py-lg-6 py-5">
        <a class="navbar-brand fs-1 me-8" href="index.html">Vivre</a>
        <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex me-auto mt-2 position-relative mb-5 mb-lg-0" role="search" >
                <input class="bg-white text-neutral-300 form-control form-control-lg me-2 rounded-pill" type="search" placeholder="搜尋文章" aria-label="Search" />
                <a class="link-accent-200" href="#"><i class="fs-4 position-absolute bi bi-search top-50 end-0 translate-middle-y me-6"></i></a>
            </form>
            <ul class="navbar-nav mb-2 mb-lg-0 align-items-lg-center">
                <li class="nav-item me-4 mb-5 mb-lg-0">
                    <a class="nav-link active" aria-current="page" href="index.html">所有文章</a>
                </li>
                <li class="nav-item me-4 mb-5 mb-lg-0">
                    <a class="nav-link" href="index.html">訂閱方案</a>
                </li>
                <li class="nav-item me-4 mb-5 mb-lg-0">
                    <a class="nav-link" href="index.html">關於我們</a>
                </li>
            </ul>
            <div class="d-grid">
                <button type="button" class="btn btn-accent-200 px-5 fs-6 text-white" >
                    <a class="nav-link" href="login.html">登入 / 註冊</a>
                </button>
            </div>
        </div>
    </div>
</nav>