<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vivre訂閱網站</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

  <main>
    <section class="container px-0 py-lg-10">
      <div class="mb-4 rounded-3 position-relative">
        <picture>
          <source media="(min-width: 992px)" srcset="../assets/images/banner.png" />
          <img src="../assets/images/banner-sm.png" alt="" class="w-100" />
        </picture>
        <div class="banner-title ps-lg-9 text-lg-start text-center text-white w-100">
          <p class="fs-lg-5 fs-6 mb-lg-3 mb-1">獻給新世代的生活風格誌</p>
          <h2 class="fs-lg-1 fs-3 mb-lg-5 mb-4">一起探索生活的無限可能</h2>
          <button class="btn btn-accent-200 fs-lg-5 text-white" type="button">
            馬上訂閱<i class="bi bi-arrow-right ms-2"></i>
          </button>
        </div>
      </div>
    </section>

    <section class="container py-lg-10 py-8">
      <h2 class="fs-lg-2 fs-4 mb-5">熱門主題</h2>
      <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1 gy-md-5 gy-1">
        <div class="col">
          <div class="theme-card">
            <p class="font-weight-bold fs-lg-5 text-center text-white w-100 position-absolute top-50 translate-middle-y">城市漫遊者</p>
            <picture>
              <source media="(min-width: 992px)" srcset="../assets/images/theme-1.png" />
              <img src="../assets/images/theme-1-sm.png" alt="" class="w-100" />
            </picture>
          </div>
        </div>
        <div class="col">
          <div class="theme-card">
            <p class="font-weight-bold fs-lg-5 text-center text-white w-100 position-absolute top-50 translate-middle-y">秘境尋蹤人</p>
            <picture>
              <source media="(min-width: 992px)" srcset="../assets/images/theme-3.png" />
              <img src="../assets/images/theme-3-sm.png" alt="" class="w-100" />
            </picture>
          </div>
        </div>
        <div class="col">
          <div class="theme-card">
            <p class="font-weight-bold fs-lg-5 text-center text-white w-100 position-absolute top-50 translate-middle-y">品味設計家</p>
            <picture>
              <source media="(min-width: 992px)" srcset="../assets/images/theme-5.png" />
              <img src="../assets/images/theme-5-sm.png" alt="" class="w-100" />
            </picture>
          </div>
        </div>
        <div class="col">
          <div class="theme-card">
            <p class="font-weight-bold fs-lg-5 text-center text-white w-100 position-absolute top-50 translate-middle-y">美食探險記</p>
            <picture>
              <source media="(min-width: 992px)" srcset="../assets/images/theme-8.png" />
              <img src="../assets/images/theme-8-sm.png" alt="" class="w-100" />
            </picture>
          </div>
        </div>
        <div class="col">
          <div class="theme-card">
            <p class="font-weight-bold fs-lg-5 text-center text-white w-100 position-absolute top-50 translate-middle-y">美學建築誌</p>
            <picture>
              <source media="(min-width: 992px)" srcset="../assets/images/theme-2.png" />
              <img src="../assets/images/theme-2-sm.png" alt="" class="w-100" />
            </picture>
          </div>
        </div>
        <div class="col">
          <div class="theme-card">
            <p class="font-weight-bold fs-lg-5 text-center text-white w-100 position-absolute top-50 translate-middle-y">慢活生活行</p>
            <picture>
              <source media="(min-width: 992px)" srcset="../assets/images/theme-4.png" />
              <img src="../assets/images/theme-4-sm.png" alt="" class="w-100" />
            </picture>
          </div>
        </div>
        <div class="col">
          <div class="theme-card">
            <p class="font-weight-bold fs-lg-5 text-center text-white w-100 position-absolute top-50 translate-middle-y">工藝匠欣賞</p>
            <picture>
              <source media="(min-width: 992px)" srcset="../assets/images/theme-6.png" />
              <img src="../assets/images/theme-6-sm.png" alt="" class="w-100" />
            </picture>
          </div>
        </div>
        <div class="col">
          <div class="theme-card">
            <p class="font-weight-bold fs-lg-5 text-center text-white w-100 position-absolute top-50 translate-middle-y">時尚先鋒派</p>
            <picture>
              <source media="(min-width: 992px)" srcset="../assets/images/theme-7.png" />
              <img src="../assets/images/theme-7-sm.png" alt="" class="w-100" />
            </picture>
          </div> 
        </div>
      </div>
    </section>

    <section>
      <div class="container py-lg-10 py-8">
        <div class="row">
          <div class="col-lg-4 d-flex flex-column justify-content-between">
            <h2 class="mb-5">精選文章</h2>
            <div class="d-md-none d-lg-block">
              <div id="carouselExample" class="carousel slide mb-5 d-md-none">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../assets/images/articles-1-sm.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../assets/images/articles-2-sm.png" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div>
                <p class="d-flex mb-8">
                  <span class="me-2">1</span>
                  <span class="text-neutral-300 me-2">/</span>
                  <span>5</span>
                </p>
                <ul class="list-unstyled d-flex gap-4">
                  <li>
                    <button class="fs-5 btn btn-outline-neutral-400 text-neutral-400 px-3 py-0" type="button"><i class="bi bi-arrow-left"></i></button>
                  </li>
                  <li class="link-line"></li>
                  <li>
                    <button class="fs-5 btn btn-outline-neutral-400 text-neutral-400 px-3 py-0" type="button"><i class="bi bi-arrow-right"></i></button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-none d-md-block">
            <div class="card rounded-bottom-0 border-0 border-bottom border-neutral-500 h-100 w-100" style="">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/articles-1.png"/>
                <img src="../assets/images/articles-1-sm.png" class="card-img-top w-100" alt="...">
              </picture>
              <div class="card-body p-0 pt-5 d-flex flex-column">
                <h5 class="card-title">私人島嶼的露營奇遇記</h5>
                <p class="card-text mb-auto text-neutral-400">遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...</p>
                <a href="#" class="link-accent-200 mb-5 mt-5">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-none d-md-block">
            <div class="card rounded-bottom-0 border-0 border-bottom border-neutral-500 w-100 h-100" style="">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/articles-2.png"/>
                <img src="../assets/images/articles-2-sm.png" class="card-img-top w-100" alt="...">
              </picture>
              <div class="card-body p-0 pt-5 d-flex flex-column">
                <h5 class="card-title">窺探米其林三星主廚的絕密手藝</h5>
                <p class="card-text fs-6 mb-auto text-neutral-400">在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...</p>
                <div class="d-flex justify-content-between align-items-center">
                  <a href="#" class="link-accent-200 mb-5 mt-5">Read More</a>
                  <span class="text-primary-400 bg-primary-300 px-1 border border-primary-400">會員專屬</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary-200">
        <div class="container position-relative py-lg-10 py-8">
          <div class="row">
            <div class="col-lg-4 mx-auto">
              <div class="d-flex flex-column align-items-center">
                <h5 class="d-none d-lg-block fs-5 mb-2 mb-lg-5 fw-bolder text-primary-400">\ 母親節強檔活動 /</h5>
                <h5 class="d-lg-none fs-6 mb-2 mb-lg-5 fw-bold  text-accent-200">\ 母親節強檔活動 /</h5>
                <h2 class="fs-lg-2 fs-5 mb-2 mb-lg-5">家庭訂閱方案限時7折</h2>
                <ul class="list-unstyled text-primary-400 d-flex flex-column justify-content-start gap-3">
                  <li class="">
                    <i class="bi bi-check me-2"></i>
                    每月最新文章無限閱讀
                  </li>
                  <li class="">
                    <i class="bi bi-check me-2"></i>
                    專屬會員限定內容
                  </li>
                  <li class="">
                    <i class="bi bi-check me-2"></i>
                    定期電子報
                  </li>
                  <li class="">
                    <i class="bi bi-check me-2"></i>
                    年度精選禮物
                  </li>
                  <li class="">
                    <i class="bi bi-check me-2"></i>
                    24 /7 優先客戶服務
                  </li>
                  <li class="">
                    <i class="bi bi-check me-2"></i>
                    為每個成員量身打造專屬行程
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="illustration-1 d-none d-lg-block">
          </div>
          <div class="illustration-2 d-lg-none">
          </div>
        </div>
    </section>

    <section class="container py-lg-10 py-8">
      <h2 class="h2 mb-lg-7">大家都在看</h2>
      <div class="row">
        <div class="col-3 d-none d-lg-block">
          <div class="shadow-sm rounded-3 h-100">
            <ul class="list-unstyled bg-white p-5 d-flex flex-column gap-4">
              <li class="py-3 ps-3 bg-accent-100">
                <a href="#">
                  <h5 class="">‧酒精路跑地圖</h5>
                </a>
              </li>
              <li class="py-3 ps-3">
                <a class="" href="#">
                  <h5>‧台北拉麵圖鑑</h5>
                </a>
              </li>
              <li class="py-3 ps-3">
                <a href="#">
                  <h5>‧海島自由行</h5>
                </a>
              </li >
              <li class="py-3 ps-3">
                <a href="#">
                  <h5>‧短天數出國推薦</h5>
                </a>
              </li>
              <li class="py-3 ps-3">
                <a href="#">
                  <h5>‧周末露營趣</h5>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="p-7 bg-white shadow-sm rounded-3">
            <h4 class="mb-lg-5 mb-1">酒精路跑地圖</h4>
            <p class="mb-lg-4 mb-1">｜城市酒吧人氣榜,盤點當紅熱門酒吧</p>
            <p class="mb-lg-4 mb-1">｜你要的調酒師在這裡！五月全台酒吧客座活動整理</p>
            <p class="mb-lg-7 mb-3">｜台南老宅手工酒藏,尋味百年人文釀意</p>
            <div class="d-none d-lg-block">
              <ul class="list-unstyled d-flex hots-gutter">
                <li>
                  <img class="rounded-start-4" src="/assets/images/hots-1.png" alt="">
                </li>
                <li>
                  <img class="rounded" src="/assets/images/hots-2.png" alt="">
                </li>
                <li>
                  <img class="rounded" src="/assets/images/hots-3.png" alt="">
                </li>
                <li>
                  <img class="rounded-end-4" src="/assets/images/hots-4.png" alt="">
                </li>
              </ul>
            </div>
            <div class="d-lg-none mb-3">
              <img class="rounded w-100" src="/assets/images/hots-1-sm.png" alt="">
            </div>
            <div class="d-flex flex-column flex-lg-row justify-content-lg-between">
              <div class="mb-3 mb-lg-0">
                <a class="bg-primary-300 rounded-1 px-1 me-3" href="#">#夜貓行程</a>
                <a class="bg-primary-300 rounded-1 px-1 me-3" href="#">#barhopping</a>
                <a class="bg-primary-300 rounded-1 px-1" href="#">#全台酒吧</a>
              </div>
              <div class="text-center">
                <button class="btn text-accent-200" type="button">View More<i class="text-accent-200 bi bi-arrow-right"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="container py-lg-10 py-8">
      <div class="d-flex justify-content-between mb-7">
        <h2>品味生活</h2>
        <div class="d-none d-lg-block">
          <ul class="list-unstyled d-flex gap-4">
            <li>
              <button class="fs-5 btn btn-outline-neutral-400 text-neutral-400 px-3 py-0" type="button"><i class="bi bi-arrow-left"></i></button>
            </li>
            <li class="link-line"></li>
            <li>
              <button class="fs-5 btn btn-outline-neutral-400 text-neutral-400 px-3 py-0" type="button"><i class="bi bi-arrow-right"></i></button>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="card border-0" style="">
            <h2 class="display-4 fw-bolder text-primary-400 mb-6">食.</h2>
            <picture>
              <source media="(min-width: 992px)" srcset="../assets/images/life-1.png"/>
              <img src="../assets/images/life-1-sm.png" class="card-img-top w-100" alt="...">
            </picture>
            <div class="card-body fw-bolder mt-5">
              <p class="card-text mb-4">｜米其林三星主廚的那些絕活傳奇</p>
              <p class="card-text mb-4">｜探秘成都的地道川味秘技與魅力</p>
              <p class="card-text mb-lg-6 mb-5">｜義大利釀酒師對於酒的堅持執著</p>
              <div class="d-grid mx-auto">
                <button class="btn text-accent-200" type="button">View More<i class="text-accent-200 bi bi-arrow-right"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card border-0" style="">
            <h2 class="display-4 fw-bolder text-primary-400 mb-6">藝.</h2>
            <picture>
              <source media="(min-width: 992px)" srcset="../assets/images/life-2.png"/>
              <img src="../assets/images/life-2-sm.png" class="card-img-top w-100" alt="...">
            </picture>
            <div class="card-body fw-bolder mt-5">
              <p class="card-text mb-4">｜解構教主級時裝設計大師的獨特美學</p>
              <p class="card-text mb-4">｜當代攝影師鏡頭中的光影離奇</p>
              <p class="card-text mb-lg-6 mb-5">｜帶你穿縮中世紀，夏季文藝復興展</p>
              <div class="d-grid mx-auto">
                <button class="btn text-accent-200" type="button">View More<i class="text-accent-200 bi bi-arrow-right"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card border-0" style="">
            <h2 class="display-4 fw-bolder text-primary-400 mb-6">旅.</h2>
            <picture>
              <source media="(min-width: 992px)" srcset="../assets/images/life-3.png"/>
              <img src="../assets/images/life-3-sm.png" class="card-img-top w-100" alt="...">
            </picture>
            <div class="card-body fw-bolder mt-5">
              <p class="card-text mb-4">｜遠離喧囂,偶探巴塔哥尼亞終界</p>
              <p class="card-text mb-4">｜東京深度六區,帶你細品極簡魅力</p>
              <p class="card-text mb-lg-6 mb-5">｜專賣奇珍異寶的東歐地下夜市</p>
              <div class="d-grid mx-auto">
                <button class="btn text-accent-200" type="button">View More<i class="text-accent-200 bi bi-arrow-right"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="py-10 py-lg-10 bg-primary-200">
        <div class="container position-relative">
          <div class="row align-items-lg-center">
            <div class="col-lg-6 text-lg-start text-center mb-lg-0 mb-9">
              <h5 class="text-neutral-400 mb-lg-3 mb-3">今天又不知道要去哪裡了嗎？</h5>
              <h2 class="fs-lg-2 fs-4 mb-lg-6 mb-5">Vivre 給你意想不到的生活風格提案</h2>
              <button class="btn btn-accent-200 fs-lg-5 text-white" type="button">
                馬上訂閱<i class="bi bi-arrow-right ms-2"></i>
              </button>
            </div>
            <div class="col-lg-6 col-md-8 mx-auto">
              <ul class="row list-unstyled d-none d-lg-flex">
                <li class="col-lg-6 mt-lg-7">
                  <div class="position-relative">
                    <p
                      class="position-absolute d-flex align-items-center top-0 start-0 ms-3 text-accent-300 bg-white translate-middle-y fs-5 p-2 fw-bold"
                    >
                      <i class="bi bi-caret-right-fill me-1 fs-6 align-top"></i>人氣行程
                    </p>
                    <img src="../assets/images/projects-2.png" alt="" />
                    <div class="position-absolute bottom-0 text-primary-100 d-flex w-100 p-3">
                      <p class="me-auto">親子露營要帶什麼?</p>
                      <p><i class="bi bi-arrow-right"></i></p>
                    </div>
                  </div>
                </li>
                <li class="col-lg-6">
                  <div class="position-relative">
                    <p
                      class="position-absolute d-flex align-items-center top-0 start-0 ms-3 text-accent-300 bg-white translate-middle-y fs-5 p-2 fw-bold"
                    >
                      <i class="bi bi-caret-right-fill me-1 fs-6 align-top"></i>編輯推薦
                    </p>
                    <img src="../assets/images/projects-1.png" alt="" />
                    <div class="position-absolute bottom-0 text-primary-100 d-flex w-100 p-2">
                      <p class="me-auto">山女孩的健行筆記</p>
                      <p><i class="bi bi-arrow-right"></i></p>
                    </div>
                  </div>
                </li>
                <li class="col-lg-6 mt-lg-7">
                  <div class="position-relative">
                    <p
                      class="position-absolute d-flex align-items-center top-0 start-0 ms-3 text-accent-300 bg-white translate-middle-y fs-5 p-2 fw-bold"
                    >
                      <i class="bi bi-caret-right-fill me-1 fs-6 align-top"></i>編輯推薦
                    </p>
                    <img src="../assets/images/projects-4.png" alt="" />
                    <div class="position-absolute bottom-0 text-primary-100 d-flex w-100 p-2">
                      <p class="me-auto">質感房間改造攻略！</p>
                      <p><i class="bi bi-arrow-right"></i></p>
                    </div>
                  </div>
                </li>
                <li class="col-lg-6">
                  <div class="position-relative">
                    <p
                      class="position-absolute d-flex align-items-center top-0 start-0 ms-3 text-accent-300 bg-white translate-middle-y fs-5 p-2 fw-bold"
                    >
                      <i class="bi bi-caret-right-fill me-1 fs-6 align-top"></i>熱門文章
                    </p>
                    <img src="../assets/images/projects-3.png" alt="" />
                    <div class="position-absolute bottom-0 text-primary-100 d-flex w-100 p-2">
                      <p class="me-auto">適合溜小孩的海邊景點推薦</p>
                      <p><i class="bi bi-arrow-right"></i></p>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="d-lg-none">
                <div class="position-relative">
                  <p
                    class="position-absolute d-flex align-items-center top-0 start-0 ms-3 translate-middle text-accent-300 bg-white position-absolute start-0 top-0 ms-3 translate-middle-y fs-5 p-2 fw-bold"
                  >
                    <i class="bi bi-caret-right-fill me-1 fs-6 align-top"></i>人氣行程
                  </p>
                  <img src="../assets/images/projects-1.png" alt="" class="w-100" />
                  <div class="position-absolute bottom-0 text-primary-100 d-flex w-100 p-3">
                    <p class="me-auto">親子露營要帶什麼?</p>
                    <p><i class="bi bi-arrow-right"></i></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <section class="container py-10 py-lg-10">
      <div class="d-flex justify-content-between">
        <h2>想看什麼主題由你決定</h2>
        <div>
          <h4 class="fw-bold mb-lg-3">歡迎投稿與我們分享</h4>
          <button class="btn btn-accent-200 fs-lg-5 text-white" type="button">
            馬上訂閱
          </button>
        </div>
      </div>
    </section>
  </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
